<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="ExtraText"
    package= "pagiisnet.pagiis.net">



    <uses-sdk
        android:minSdkVersion="22"
        android:targetSdkVersion="34" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- Grant the location access permission -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- Allows using PowerManager WakeLocks to keep processor from sleeping or screen from dimming -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:enableOnBackInvokedCallback="true"
        android:icon="@drawable/pagiis_home_icon"
        android:label="Pagiis"

        android:roundIcon="@drawable/pagiis_home_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label"
        tools:ignore="UnusedAttribute">
        <activity
            android:name="pagiisnet.pagiisnet.GalleryUploads"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="pagiisnet.pagiisnet.WelcomeMotionLayout"
            android:exported="true"
            tools:ignore="IntentFilterExportedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="pagiisnet.pagiisnet.Verify_Cellphonenumber_Login"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="pagiisnet.pagiisnet.CellphoneLogin"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name="pagiisnet.pagiisnet.OnBoarding"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name="pagiisnet.pagiisnet.LinkView" />
        <activity android:name="pagiisnet.pagiisnet.StudentRegister" />
        <activity android:name="pagiisnet.pagiisnet.StudentLogin" />
        <activity android:name="pagiisnet.pagiisnet.SiroccoPromoVideos" />
        <activity android:name="pagiisnet.pagiisnet.SiroccoOnlineStores" />
        <activity android:name="pagiisnet.pagiisnet.StoreBankDetails" />
        <activity
            android:name="pagiisnet.pagiisnet.SplashActivity"
            android:exported="true"></activity>
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <activity android:name="pagiisnet.pagiisnet.RegisterActivity" /> <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <activity android:name="pagiisnet.pagiisnet.first_time_profile_config" />
        <activity
            android:name="pagiisnet.pagiisnet.MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity
            android:name="pagiisnet.pagiisnet.ActivityOwnProfile"
            android:parentActivityName="pagiisnet.pagiisnet.MapsActivity" />
        <activity android:name="pagiisnet.pagiisnet.ActivityUploadImage" />
        <activity android:name="pagiisnet.pagiisnet.LoginActivity" />
        <activity
            android:name="pagiisnet.pagiisnet.UserProfileActivity"
            android:parentActivityName="pagiisnet.pagiisnet.ViewUsersMemes" />
        <activity
            android:name="pagiisnet.pagiisnet.MemePage"
            android:parentActivityName="pagiisnet.pagiisnet.MapsActivity" />
        <activity
            android:name="pagiisnet.pagiisnet.ViewUsersMemes"
            android:parentActivityName="pagiisnet.pagiisnet.MapsActivity" />
        <activity
            android:name="pagiisnet.pagiisnet.ActivityCamera"
            android:parentActivityName="pagiisnet.pagiisnet.MapsActivity" />
        <activity
            android:name="pagiisnet.pagiisnet.ActivityNotifications"
            android:parentActivityName="pagiisnet.pagiisnet.MapsActivity" />
        <activity android:name="pagiisnet.pagiisnet.ActivityUserPost" />
        <activity android:name="pagiisnet.pagiisnet.OnChatting" />
        <activity
            android:name="pagiisnet.pagiisnet.SiroccoPage"
            android:parentActivityName="pagiisnet.pagiisnet.ViewUsersMemes" />
        <activity
            android:name="pagiisnet.pagiisnet.SiroccoProfile"
            android:parentActivityName="pagiisnet.pagiisnet.SiroccoPage" />
        <activity
            android:name="pagiisnet.pagiisnet.SirrocoImageUpload"
            android:parentActivityName="pagiisnet.pagiisnet.MapsActivity" />
        <activity
            android:name="pagiisnet.pagiisnet.SiroccoMaxView"
            android:parentActivityName="pagiisnet.pagiisnet.SiroccoPage" />
        <activity
            android:name="pagiisnet.pagiisnet.PagiisMaxView"
            android:parentActivityName="pagiisnet.pagiisnet.ViewUsersMemes" />
        <activity
            android:name="pagiisnet.pagiisnet.CatchUp"
            android:parentActivityName="pagiisnet.pagiisnet.SiroccoPage" />
        <activity android:name="pagiisnet.pagiisnet.ViewUserMaxImage" />
        <activity
            android:name="pagiisnet.pagiisnet.VideowViewing"
            android:parentActivityName="pagiisnet.pagiisnet.MemePage" />
        <activity
            android:name="pagiisnet.pagiisnet.ViewUsersVideos"
            android:parentActivityName="pagiisnet.pagiisnet.ViewUsersMemes" />
        <activity
            android:name="pagiisnet.pagiisnet.ActivityUploadVideo"
            android:parentActivityName="pagiisnet.pagiisnet.MapsActivity" />
        <activity
            android:name="pagiisnet.pagiisnet.LinkPost"
            android:parentActivityName="pagiisnet.pagiisnet.MapsActivity" />
        <activity android:name="pagiisnet.pagiisnet.MapsDrawer" />
        <activity
            android:name="pagiisnet.pagiisnet.SirrocoMusicView"
            android:parentActivityName="pagiisnet.pagiisnet.SiroccoMusicActivity" />
        <activity
            android:name="pagiisnet.pagiisnet.SiroccoMusicActivity"
            android:parentActivityName="pagiisnet.pagiisnet.SiroccoPage" />
        <activity android:name="pagiisnet.pagiisnet.MainActivity" />
        <activity
            android:name="pagiisnet.pagiisnet.CustomerPurchase"
            android:parentActivityName="pagiisnet.pagiisnet.SiroccoPage" />
        <activity android:name="pagiisnet.pagiisnet.OnlineShopView" />
        <activity android:name="pagiisnet.pagiisnet.ViewOnlinePurchases" />
        <activity
            android:name="pagiisnet.pagiisnet.CreateOnlineShop"
            android:parentActivityName="pagiisnet.pagiisnet.SiroccoPage" />
        <activity
            android:name="pagiisnet.pagiisnet.SellItemPost"
            android:parentActivityName="pagiisnet.pagiisnet.SiroccoPage" />
        <activity android:name="pagiisnet.pagiisnet.SiroccoBottomNavView" />
        <activity
            android:name="pagiisnet.pagiisnet.Art"
            android:parentActivityName="pagiisnet.pagiisnet.SiroccoPage" />
        <activity
            android:name="pagiisnet.pagiisnet.Music"
            android:parentActivityName="pagiisnet.pagiisnet.SiroccoPage" />
        <activity
            android:name="pagiisnet.pagiisnet.Business"
            android:parentActivityName="pagiisnet.pagiisnet.SiroccoPage" />
        <activity
            android:name="pagiisnet.pagiisnet.Fashion"
            android:parentActivityName="pagiisnet.pagiisnet.SiroccoPage" />
        <activity
            android:name="pagiisnet.pagiisnet.BoughtItemMaxView"
            android:parentActivityName="pagiisnet.pagiisnet.ViewMyCart" />
        <activity
            android:name="pagiisnet.pagiisnet.ViewMyCart"
            android:parentActivityName="pagiisnet.pagiisnet.SiroccoPage" />
        <activity
            android:name="pagiisnet.pagiisnet.AdminCartView"
            android:parentActivityName="pagiisnet.pagiisnet.CatchUp" />
        <activity
            android:name="pagiisnet.pagiisnet.CreateEvent"
            android:parentActivityName="pagiisnet.pagiisnet.ActivityNotifications" />
        <activity android:name="pagiisnet.pagiisnet.ViewStreams" />
        <activity
            android:name="pagiisnet.pagiisnet.EventContentUpload"
            android:parentActivityName="pagiisnet.pagiisnet.ViewEvent" />
        <activity
            android:name="pagiisnet.pagiisnet.ViewEventProfile"
            android:parentActivityName="pagiisnet.pagiisnet.ViewEvent" />
        <activity
            android:name="pagiisnet.pagiisnet.VisitUserPosts"
            android:parentActivityName="pagiisnet.pagiisnet.UserProfileActivity" />
        <activity android:name="pagiisnet.pagiisnet.SplashIntroOne" />
        <activity android:name="pagiisnet.pagiisnet.SplashIntroTwo" />
        <activity android:name="pagiisnet.pagiisnet.SplashIntroThree" />
        <activity android:name="pagiisnet.pagiisnet.VisitProfilePosts" />
        <activity
            android:name="pagiisnet.pagiisnet.ViewUserContactDetails"
            android:parentActivityName="pagiisnet.pagiisnet.UserProfileActivity" />
        <activity
            android:name="pagiisnet.pagiisnet.ViewContactRequestList"
            android:parentActivityName="pagiisnet.pagiisnet.ActivityNotifications" />
        <activity
            android:name="pagiisnet.pagiisnet.VideoStreaming"
            android:parentActivityName="pagiisnet.pagiisnet.CatchUp" />
        <activity
            android:name="pagiisnet.pagiisnet.ActivityItemViewers"
            android:parentActivityName="pagiisnet.pagiisnet.PagiisMaxView" />
        <activity android:name="pagiisnet.pagiisnet.Utils.Testin" />
        <activity android:name="pagiisnet.pagiisnet.MultiPost" />
        <activity
            android:name="pagiisnet.pagiisnet.RequestMaxView"
            android:parentActivityName="pagiisnet.pagiisnet.ActivityNotifications" />
        <activity
            android:name="pagiisnet.pagiisnet.ViewEvent"
            android:parentActivityName="pagiisnet.pagiisnet.ActivityNotifications" />
        <activity android:name="pagiisnet.pagiisnet.MultiMAxView" />
        <activity
            android:name="pagiisnet.pagiisnet.EventVideoUpload"
            android:parentActivityName="pagiisnet.pagiisnet.ViewEvent" />
        <activity android:name="pagiisnet.pagiisnet.EventPreviewEdit" />
        <activity android:name="pagiisnet.pagiisnet.BuyEndEdit" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2663071363374794~2545717889" />

        <service
            android:name="pagiisnet.pagiisnet.Utils.MyFirebaseIdService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <service
            android:name="pagiisnet.pagiisnet.FirebaseMessagingService"
            android:exported="true"
            android:permission="TODO"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>